#content {
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
}

nav > ul {
  font-size: 18px;
  display: flex;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

nav li {
  background-color: rgb(188, 186, 186);
  color: white;
  padding: 6px 12px;
  border-radius: 14px;
}

nav li:hover {
  background-color: rgb(132, 130, 130);
  color: black;
  cursor: pointer;
}
main {
  background-color: white;
  min-height: 600px;
  padding: 12px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  box-shadow: 2px -1px 8px -1px rgba(0,0,0,0.91);
  -webkit-box-shadow: 2px -1px 8px -1px rgba(0,0,0,0.91);
  -moz-box-shadow: 2px -1px 8px -1px rgba(0,0,0,0.91);
}

main h2 {
  margin-bottom: 0.3rem;
}

main h3 {
  align-self: flex-start;
  font-size: 20px;
  margin: 10px;
}

main img {
  margin: 0.4rem;
  height: 200px;
  width: min(240px, 50%);
  border: 2px solid rgb(111, 110, 110);
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

#caption {
  opacity: 0.75;
  font-style: italic;
  font-size: 12px;
}

.description {
  padding: 12px;
  text-align: center;
  font-size: 18px;
}